In [3]:
from absenteeism_module import *
model = absenteeism_model('model', 'scaler')

model.load_and_clean_data('Absenteeism_new_data.csv')

model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

In [8]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/anisnabila/anaconda3/lib/python3.11/site-packages (1.1.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pymysql

In [86]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = 'anisnabila1234')

In [87]:
cursor = conn.cursor()

# # Checkpoint 'df_new_obs'

In [88]:
df_new_obs = model.predicted_outputs()
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

## .execute()

In [89]:
import pymysql

# Replace with your actual database connection parameters
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'anisnabila1234',
    'database': 'predicted_outputs',
}

# Establish a connection to the database
connection = pymysql.connect(**db_config)

# Create a cursor object
cursor = connection.cursor()

# Create the 'predicted_outputs' table if it doesn't exist
create_table_query = '''
CREATE TABLE IF NOT EXISTS predicted_outputs (
    reason_1 BIT NOT NULL,
    reason_2 BIT NOT NULL,
    reason_3 BIT NOT NULL,
    reason_4 BIT NOT NULL,
    month_value INT NOT NULL,
    transportation_expense INT NOT NULL,
    age INT NOT NULL,
    body_mass_index INT NOT NULL,
    education BIT NOT NULL,
    children INT NOT NULL,
    pets INT NOT NULL,
    probability FLOAT NOT NULL,
    prediction BIT NOT NULL
);
'''
cursor.execute(create_table_query)

# Commit the changes to the database
connection.commit()

# Now you can select data from the 'predicted_outputs' table
select_query = 'SELECT * FROM predicted_outputs;'
cursor.execute(select_query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

In [90]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

## Creating the INSERT Statement

In [91]:
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [92]:
insert_query

'INSERT INTO predicted_outputs VALUES '

In [93]:
df_new_obs.shape

(40, 13)

In [94]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [95]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

insert query w easy way

In [96]:
for i in range(df_new_obs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [97]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.873364789201451, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26625344402537626, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19856972989114735, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7208612143665539, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7138174390776084, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5676722878553673, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13186993195486477, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5194719164744284, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4564962181064571, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831578, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3489511421027763, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.08299352701916163, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.16605986551716959, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831578, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4982995464917863, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.3891547048459078, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4988843125505522, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568643043, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023775, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023775, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568643043, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5143722492274833, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34948273249110756, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6334125701040938, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6334125701040938, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24368269010261964, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4927328256638981, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.25997160132043684, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9668558205832314, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9126760303336992, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7498771686615044, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.019428809679915504, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2628714433960303, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.06484649016369629, 0), '

In [98]:
insert_query = insert_query[:-2] + ';'

In [99]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.873364789201451, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26625344402537626, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19856972989114735, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7208612143665539, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7138174390776084, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5676722878553673, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13186993195486477, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5194719164744284, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4564962181064571, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831578, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3489511421027763, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12246899458480298, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.08299352701916163, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.16605986551716959, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6385275591831578, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4982995464917863, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.3891547048459078, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4988843125505522, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568643043, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023775, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5200557735023775, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05193861568643043, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5143722492274833, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34948273249110756, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6334125701040938, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6334125701040938, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24368269010261964, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13213794143169086, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4927328256638981, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.25997160132043684, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9668558205832314, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9126760303336992, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7498771686615044, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.019428809679915504, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2628714433960303, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.06484649016369629, 0);'

In [100]:
cursor.execute(insert_query)

40

added new 40 records

In [101]:
conn.commit()

In [102]:
conn.close()